:host {
  display: block;
}

.container {
  .title {
    font-size: 24px;
    font-weight: 700;
    color: #070a0f;
    margin-bottom: 8px;
  }

  .buttons {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;

    .option {
      padding: 8px 16px;
      border: 1px solid #00478f;
      border-radius: 16px;
      cursor: pointer;

      &.selected,
      &:hover {
        background-color: #00478f;
        color: #fff;
      }
    }
  }
}
