.container{
    padding: 16px 40px;
    color: #070A0F;

    .header{
        display: flex;
        justify-content: center;

        .logo{
            display: flex;
            align-items: center;
            height: 54px;
            gap: 4px;

            .title {
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
                justify-content: center;
                width: 88px;
                height: 22px;
                text-align: start;

                .text {
                    &__first {
                      font-size: 14px;
                      font-weight: 500;
                      font-style: normal;
                      line-height: 100%;
                      color: #00478f;
                    }
                  
                    &__second {
                      font-family: Poppins, sans-serif;
                      font-size: 22px;
                      font-weight: 700;
                      font-style: normal;
                      line-height: normal;
                      color: #00478f;
                    }
                }
            }
        }
    }

    .nav{
        display: flex;
        gap: 24px;
        margin: 56px 0;
        align-items: center;
        cursor: pointer;

        .name{
            font-size: 24px;
        }
    }

    .title{
        margin: 8px 0;
        font-size: 36px;
        font-weight: 700;
    }

    .subtitle{
        margin: 24px 0;
        font-size: 24px;
    }

    form{
        margin: 8px 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        .submit{
            display: block;
            width: 400px;
            height: 56px;
            border-radius: 16px;
            border: none;
            background-color: #00478F;
            font-size: 24px;
            font-weight: 700;
            text-align: center;
            color: #FFFFFF;
            line-height: 28px;
            margin-top: 16px;

            &:hover{
                -webkit-text-stroke: 0.4px #FFFFFF;
            }

            &:active{
                background-color: #042C54;
                -webkit-text-stroke: 0.4px #FFFFFF;
            }
        }
    }
}

.mat-mdc-form-field {
    display: block;
    height: 56px;
    margin: 8px 0;
    width: 100%;
}