<div class="container">
    <div class="header">
        <div class="logo">
            <svg fill="none" height="50" viewBox="0 0 46 50" width="46" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_1739_7383)">
                  <path
                    d="M0 9.35068C0.468029 5.18847 2.78534 0 7.64067 0H33.8084C50.1285 0 49.9992 25.7172 33.8084 25.7172H28.4813L39.2573 34.5491C45.2238 39.0127 46.8181 44.121 43.1424 50.0038L11.2784 24.2866C8.61477 21.7229 10.5972 16.2368 13.8696 16.2368L32.781 16.3665C35.9925 16.3894 36.1486 9.33542 32.781 9.35068H0Z"
                    fill="#FFD640" />
                </g>
                <defs>
                  <clipPath id="clip0_1739_7383">
                    <rect fill="white" height="50" width="46" />
                  </clipPath>
                </defs>
              </svg>
              <div class="title">
                <span class="text__first">Bicycles Gear Marketplace</span>
                <span class="text__second">ROVER</span>
              </div>
        </div>
    </div>
    <div class="nav">
        <div class="arrow">
            <svg width="41" height="15" viewBox="0 0 41 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.292892 8.20711C-0.0976295 7.81658 -0.0976295 7.18342 0.292892 6.79289L6.65685 0.428932C7.04738 0.0384078 7.68054 0.0384078 8.07107 0.428932C8.46159 0.819457 8.46159 1.45262 8.07107 1.84315L2.41422 7.5L8.07107 13.1569C8.46159 13.5474 8.46159 14.1805 8.07107 14.5711C7.68054 14.9616 7.04738 14.9616 6.65685 14.5711L0.292892 8.20711ZM41 8.5H1V6.5H41V8.5Z" fill="#070A0F"/>
            </svg>                
        </div>
        <div class="name">Forgot Password?</div>
    </div>
    <div class="title">
        Forgot your password?
    </div>
    <div class="subtitle">Don’t worry. Enter your e-mail to send a new password.</div>
    <form [formGroup]="forgotPasswordForm">
        <mat-form-field appearance="outline" hideRequiredMarker>
            <mat-label>E-mail</mat-label>
            <input matInput formControlName="email">
        </mat-form-field>
        <button type="submit" class="submit">Send a new password</button>
    </form>
</div>