.header {
  display: flex;
  justify-content: center;
  align-items: center;

  &-content__container {
    display: flex;
    width: 1440px;
    height: 160px;
    background-color: blueviolet;
    padding: 0 94px;
    justify-content: flex-start;
    align-items: center;
  }
}


.content__logo {
  width: 138px;
  height: 54px;
}
