.header {
  display: flex;
}

.header-content {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 33px;
  flex-shrink: 0;

  &__container {
    display: flex;
    width: 1440px;
    height: 160px;
    padding: 0px 94px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
  }
}

.contents {
  display: flex;
  height: 54px;
  align-items: center;
  gap: 4px;
}

.title {
  display: flex;
  width: 88px;
  height: 22px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}

.text {
  &__first {
    color: #00478f;
    font-family: Lato, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
  }

  &__second {
    color: #00478f;
    font-family: Poppins, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}

.search {
  display: flex;
}

.img {
  padding: 15px 12px;
  display: flex;
  gap: 10px;

  &__search {
    position: absolute;
  }
}

.input {
  display: flex;

  &__btns {
    display: flex;
  }

  &__search {
    display: flex;
    width: 432px;
    padding: 15px 40px;
    border-radius: 4px 0px 0px 4px;
    border-top: 1px solid #00478f;
    border-left: 1px solid #00478f;
    border-bottom: 1px solid #00478f;
    border-right: none;
    background: #fff;
  }
}

.btn {
  display: flex;

  &__filter {
    display: flex;
    padding: 15px 12px;
    align-items: flex-start;
    border-radius: 0px 4px 4px 0px;
    border-top: 1px solid #00478f;
    border-right: 1px solid #00478f;
    border-bottom: 1px solid #00478f;
    border-left: 1px solid #00478f;
    background: #fff;
  }
}

.action {
  display: flex;
  width: 193px;
  padding: 4px;
  align-items: center;
  gap: 4px;
  flex-shrink: 0;
  border-bottom: 1px solid #00478f;
}

.action:hover {
  transition: 0.2s;
  border-bottom: 3px solid #00478f;
}


.create {
  display: flex;

  &__img {
    display: flex;
    align-items: flex-start;
    gap: 10px;
  }

  &__img:hover {
    transition: 0.2s;
  }

  &__link {
    text-decoration: none;
    color: #00478f;
    font-family: Lato, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  &__link:hover {
    font-weight: 900;
    transition: 0.2s;
  }
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.btn-lgn-select {
  display: flex;
  height: 24px;
  padding: 8px 4px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  border: 1px solid #ffd640;
}
