<div class="modal">
  <div class="filter__container">
    <div class="filter__title-container">
      <img (click)="closeFilter()" alt="arrow" src="assets/img/editing/Arrow%20.svg">
      <h3 class="filter__title">Filter</h3>
      <img (click)="closeFilter()" alt="closes" src="assets/img/editing/Closes.svg">
    </div>

    <div class="filter__price-container">
      <h4 class="filter__price-title">By price</h4>
      <div class="filter__price">
        <div class="filter__price-item">
          <p class="filter__price-item-title">From</p>
          <div class="filter__price-item-filter">
            <input class="filter__price-item-input" placeholder="100" type="text">
            <img alt="" class="filter__price-item-img" src="assets/img/filter/price.svg">
          </div>
        </div>

        <div class="filter__price-item">
          <p class="filter__price-item-title">Up to</p>
          <div class="filter__price-item-filter">
            <input class="filter__price-item-input" placeholder="1 000" type="text">
            <img alt="" class="filter__price-item-img" src="assets/img/filter/price.svg">
          </div>
        </div>
      </div>
    </div>

    <div class="filter__date-container">
      <h4 class="filter__date-title">By date</h4>
      <div class="filter__date-item-container">
        <button class="filter__date-item" data-filter="today">Today</button>
        <button class="filter__date-item" data-filter="yesterday">Yesterday</button>
        <button class="filter__date-item" data-filter="last7days">Last 7 days</button>
        <button class="filter__date-item" data-filter="last30days">Last 30 days</button>
        <button class="filter__date-item" data-filter="lastyear">Last year</button>
        <button class="filter__date-item" data-filter="ever">Ever</button>
      </div>
    </div>

    <div class="btn__container">
      <button class="btn">Cansel</button>
      <button class="btn">Save</button>
    </div>
  </div>

  <div class="overlay"></div>
</div>
