<form class="registration" [formGroup]="signInForm" (ngSubmit)="onSignInFormSubmit()">

    <div class="name">
      <div>
        <mat-form-field appearance="outline" hideRequiredMarker class="half first">
          <mat-label>First Name</mat-label>
          <input matInput formControlName="firstName">
        </mat-form-field>
        <app-error-messages [control]="signInForm.get('firstName')"></app-error-messages>
      </div>

      <div>
        <mat-form-field appearance="outline" hideRequiredMarker class="half">
          <mat-label>Last Name</mat-label>
          <input matInput formControlName="lastName">
        </mat-form-field>
        <app-error-messages [control]="signInForm.get('lastName')"></app-error-messages>
      </div>
    </div>

    <mat-form-field appearance="outline" hideRequiredMarker>
      <mat-label>E-mail</mat-label>
      <input matInput formControlName="email">
    </mat-form-field>
    <app-error-messages [control]="signInForm.get('email')"></app-error-messages>
    
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
      <button 
            mat-icon-button 
            matSuffix 
            (click)="hide = !hide" 
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
        >
        <mat-icon 
            fontSet="fa-regular" 
            [fontIcon]="hide ? 'fa-eye' : 'fa-eye-slash'"
        ></mat-icon>
      </button>
    </mat-form-field>
    <app-error-messages [control]="signInForm.get('password')"></app-error-messages>
  
    <mat-form-field appearance="outline" hideRequiredMarker>
      <mat-label>Confirm password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" formControlName="confirmPassword">
      <button 
          mat-icon-button 
          matSuffix 
          (click)="hide = !hide" 
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
      >
          <mat-icon 
              fontSet="fa-regular" 
              [fontIcon]="hide ? 'fa-eye' : 'fa-eye-slash'"
          ></mat-icon>
      </button>
    </mat-form-field>
    <app-error-messages [control]="signInForm.get('confirmPassword')"></app-error-messages>

    <button 
      type="submit" 
      class="submit"
      [disabled]="signInForm.invalid"
    >Sign up</button>
  </form>  