:host {
  .personal__container {
    display: flex;
    margin: 102px 94px;
    flex-direction: column;
    flex-wrap: wrap;

    .wrapper {
      justify-content: flex-start;
      align-items: center;
      display: flex;
      padding-bottom: 40px;
    }
    .product-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      app-product {
        width: auto;
        flex: 0 0 30%;
        margin-bottom: 50px;

        div {
          width: auto;
        }
      }
    }

    &-profile {
      img {
        width: 140px;
        height: 140px;
        border-radius: 50%;
      }

      margin-right: 64px;
    }

    &-info {
      display: flex;
      flex-direction: column;

      h3 {
        font-weight: 400;
        font-size: 36px;
        line-height: 43px;
        color: #070a0f;
      }

      div {
        display: flex;
        margin-bottom: 24px;
      }
      img {
        width: 24px;
        height: 24px;
        margin-right: 12px;
      }
      span {
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        color: #070a0f;

        &.data {
          color: #00478f;
          margin-left: 20px;
        }
      }
    }
  }
}
