<div class="modal">
  <div class="editing__container">
    <div class="editing__title-container">
      <img (click)="closeEditing()" alt="arrow" src="assets/img/editing/Arrow.svg">

      <h3 class="editing__title">Profile editing</h3>

      <img (click)="closeEditing()" alt="closes" src="assets/img/editing/Closes.svg">
    </div>

    <div class="personal__container">
      <div class="personal__profile">
        <img alt="profile-img" class="personal__profile-img" src="assets/img/profile/profile-img.png">

        <h3 class="personal__profile-name">Jessica Hanson</h3>
      </div>

      <div class="personal__info">
        <span>example&#64;gmail.com</span>
        <div class="personal__info-line"></div>
        <span>+380 406 555 120</span>
        <div class="personal__info-line"></div>
        <span>Ternopil city</span>
      </div>
    </div>

    <form class="form__container">
      <div class="form__item">
        <input class="form__input" placeholder="1 2 3 4 5 6 7 8" type="text">
        <label class="form__label">{{label.password}}</label>
      </div>

      <div class="form__item">
        <input class="form__input" placeholder="1 2 3 4 5 7 7 9" type="text">
        <label class="form__label">{{label.password}}</label>


        <p class="form__password-info">Your password does not match</p>
      </div>
    </form>

    <div class="btn__container">
      <button class="btn">Cansel</button>
      <button class="btn">Save</button>
    </div>
  </div>

  <div (click)="closeEditing()" class="overlay"></div>
</div>
