<div class="modal">
  <div class="editing__container">
    <div class="editing__title-container">
      <img (click)="closeEditing()" alt="arrow" src="assets/img/editing/Arrow.svg">

      <h3 class="editing__title">Password editing</h3>

      <img (click)="closeEditing()" alt="closes" src="assets/img/editing/Closes.svg">
    </div>

    <div class="personal__container">
      <div class="personal__profile">
        <img alt="profile-img" class="personal__profile-img" src="assets/img/profile/profile-img.png">

        <h3 class="personal__profile-name">Jessica Hanson</h3>
      </div>

      <div class="personal__info">
        <span>example&#64;gmail.com</span>
        <div class="personal__info-line"></div>
        <span>+380 406 555 120</span>
        <div class="personal__info-line"></div>
        <span>Ternopil city</span>
      </div>
    </div>

    <form [formGroup]="passForm" class="form__container">
      <div class="form__item">
        <input [type]="showPassword ? 'text' : 'password'" class="form__input" formControlName="password"
               id="password" placeholder="1 2 3 4 5 6 7 8">
        <label class="form__label">{{label.password}}</label>

        <div class="form__pass-visibility">
          <div (click)="togglePasswordVisibility()" [style.display]="visibleIconDisplay"
               class="form__pass-visibility-visible"></div>
          <div (click)="togglePasswordVisibility()" [style.display]="invisibleIconDisplay"
               class="form__pass-visibility-invisible"></div>
        </div>
      </div>

      <div class="form__item">
        <input [type]="showPassword ? 'text' : 'password'" class="form__input" formControlName="confirmPassword"
               id="confirmPassword" placeholder="1 2 3 4 5 7 7 9">
        <label class="form__label">{{label.confirm}}</label>

        <!--TODO password: min 8; at least 1 upperCase & 1 lowerCase letters, 1 symbol, 1 number-->

        <p *ngIf="passForm.get('confirmPassword')?.errors?.['mismatch']"
           class="form__password-info">Your password does not match</p>
      </div>
    </form>

    <div class="btn__container">
      <button class="btn">Cansel</button>
      <button class="btn">Save</button>
    </div>
  </div>

  <div (click)="closeEditing()" class="overlay"></div>
</div>
