.footer {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	justify-content: center;
	max-width: 1920px;
	margin: auto;
	padding: 60px 94px;
	color: #fff;
	background-color: #00478f;
	gap: 30px;
}

.footer {
	&__container {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		width: 1252px;
	}
}

.content {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	flex-shrink: 0;
	width: 404px;
	gap: 20px;

	&__text {
		display: flex;
		flex-direction: column;
		flex-shrink: 0;
		justify-content: center;
		width: 76px;
	}

	&__text-first {
		font-family: Lato, sans-serif;
		font-size: 12px;
		font-weight: 500;
		font-style: normal;
		line-height: 100%;
	}

	&__text-second {
		font-family: Poppins, sans-serif;
		font-size: 20px;
		font-weight: 700;
		font-style: normal;
		line-height: normal;
		height: 20px;
	}
}

.logo-typography {
	display: flex;
	align-items: center;
	gap: 4px;
}

.socials {
	&__networks {
		display: flex;
		align-items: center;
		flex-direction: column;
		gap: 12px;
	}

	&__btn {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		width: 136px;
	}
}

.text {
	&__networks {
		font-family: Lato, sans-serif;
		font-size: 20px;
		font-weight: 500;
		font-style: normal;
		line-height: 21px;
	}
}

.information {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	flex-shrink: 0;
	width: 404px;
	gap: 16px;
}

.info {
	&__link {
		font-family: Lato, sans-serif;
		font-size: 20px;
		font-weight: 500;
		font-style: normal;
		line-height: 21px;
		text-decoration: none;
		color: #fff;
	}
}

.contacts {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	flex-shrink: 0;
	width: 404px;
	gap: 16px;
}

.phone {
	display: flex;
	gap: 8px;

	&__link {
		font-family: Lato, sans-serif;
		font-size: 20px;
		font-weight: 500;
		font-style: normal;
		line-height: 21px;
		text-decoration: none;
		color: #fff;
	}
}

.img {
	display: flex;
	align-items: center;
}

.email {
	display: flex;
	gap: 8px;

	&__link {
		font-family: Lato, sans-serif;
		font-size: 20px;
		font-weight: 500;
		font-style: normal;
		line-height: 21px;
		text-decoration: none;
		color: #fff;
	}
}

.adres {
	display: flex;
	gap: 8px;

	&__link {
		font-family: Lato, sans-serif;
		font-size: 20px;
		font-weight: 500;
		font-style: normal;
		line-height: 21px;
		text-decoration: none;
		color: #fff;
	}
}

.footer-about {
	&__team {
		font-family: Lato, sans-serif;
		font-size: 20px;
		font-weight: 500;
		font-style: normal;
		line-height: 21px;
	}
}
