<div class="footer">
  <div class="footer__container">
    <!--Block logo and tittle-->
    <div class="content">
      <div class="logo-typography">
        <svg class="sprite__logo-typography">
          <use xlink:href="../../../assets/sprite.svg#logo-typography"></use>
        </svg>
        <div class="content__text">
          <span class="content__text-first">Bicycles Gear Marketplace</span>
          <span class="content__text-second">ROVER</span>
        </div>
      </div>

      <!--Block socials networks-->
      <div class="socials__networks">
        <span class="text__networks">Our social networks</span>
        <div class="socials__btn">
          <svg class="sprite__instagram">
            <use xlink:href="../../../assets/sprite.svg#instagram"></use>
          </svg>
          <svg class="sprite__twitter">
            <use xlink:href="../../../assets/sprite.svg#twitter"></use>
          </svg>
          <svg class="sprite__facebook">
            <use xlink:href="../../../assets/sprite.svg#facebook"></use>
          </svg>
        </div>
      </div>
    </div>

    <!--Block information-->
    <div class="information">
      <a class="info__link" href="#">About us</a>
      <a class="info__link" href="#">Feedback</a>
      <a class="info__link" href="#">Privacy policy</a>
      <a class="info__link" href="#">Safety rules</a>
    </div>

    <!--Block contacts and location map-->
    <div class="contacts">
      <div class="phone">
        <div class="img">
          <svg class="sprite__phone">
            <use xlink:href="../../../assets/sprite.svg#phone"></use>
          </svg>
        </div>
        <a class="phone__link" href="#">+38080001111</a>
      </div>
      <div class="email">
        <div class="img">
          <svg class="sprite__email">
            <use xlink:href="../../../assets/sprite.svg#email"></use>
          </svg>
        </div>
        <a class="email__link" href="#">rover&#64;gmail.com</a>
      </div>
      <div class="adres">
        <div class="img">
          <svg class="sprite__address">
            <use xlink:href="../../../assets/sprite.svg#address"></use>
          </svg>
        </div>
        <a class="adres__link" href="#">Central St., 1 Kyiv, Ukraine 01010</a>
      </div>
    </div>
  </div>
  <span class="footer-about__team"
    >Developed by *Team Challenge* 2023 All rights reserved</span
  >
</div>
