<div class="container">
    <ng-container *ngFor="let step of steps; let i = index;">
        <div class="step-btn" [class.previous]="selectedIndex > i" [class.next]="selectedIndex < i" (click)="selectStepByIndex(i)"  >
            <div class="item" >
                <div class="inner"></div>
            </div>
            
            <!-- <div class="passed" *ngIf="selectedIndex > i">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_5447_5359)">
                        <rect width="20" height="20" rx="10" fill="#FFD640" fill-opacity="0.5"/>
                        <path d="M8.47315 13.1173C8.29994 13.1172 8.13211 13.0571 7.99815 12.9473L5.75815 11.1123C5.45186 10.8462 5.4127 10.3848 5.66977 10.0709C5.92684 9.75701 6.38692 9.70446 6.70815 9.9523L8.44315 11.3723L13.4432 6.7673C13.6311 6.54383 13.9316 6.44975 14.2134 6.52617C14.4952 6.60259 14.7071 6.83561 14.7564 7.12341C14.8057 7.4112 14.6835 7.70145 14.4432 7.8673L8.98315 12.9173C8.845 13.0468 8.66248 13.1183 8.47315 13.1173Z" fill="#042C54"/>
                    </g>
                    <defs>
                        <clipPath id="clip0_5447_5359">
                        <rect width="20" height="20" rx="10" fill="white"/>
                        </clipPath>
                    </defs>
                </svg>      
            </div>
            <div class="basic" *ngIf="selectedIndex < i">
                <div class="inner"></div>
            </div>
            <div class="current" *ngIf="selectedIndex === i">
                <div class="outer">
                    <div class="inner"></div>
                </div>
            </div> -->
        </div>
    
        <hr class="connect-line" *ngIf="i != steps.length -1">
    </ng-container>
    
</div>

<!-- {{steps | json}} -->

<div [ngTemplateOutlet]="selected ? selected.content : null"></div>
