<div class="navbar">
  <div class="navbar__items">
    <ul class="items__category">
      <a class="link" routerLink="home/bicycle">
        <li>Bicycle</li>
      </a>
      <a class="link" routerLink="home/parts">
        <li>Parts</li>
      </a>
      <a class="link" routerLink="home/accessories">
        <li>Accessories</li>
      </a>
      <a class="link" routerLink="home/service">
        <li>Service</li>
      </a>
      <a class="link link-last" routerLink="home/clothes">
        <li>Clothes</li>
      </a>
    </ul>
  </div>
</div>
