<div class="items__navbar">
  <div class="items__navbar-container">
    <ul class="items__navbar-container-category">
      <a class="items__navbar-container-category-link" [routerLink]="['home/category']"
        [queryParams]="{category: 'bicycle'}">
        <li>Bicycle</li>
      </a>
      <a class="items__navbar-container-category-link" [routerLink]="['home/category']"
        [queryParams]="{category: 'parts'}">
        <li>Parts</li>
      </a>
      <a class="items__navbar-container-category-link" [routerLink]="['home/category']"
        [queryParams]="{category: 'accessories'}">
        <li>Accessories</li>
      </a>
      <a class="items__navbar-container-category-link" [routerLink]="['home/category']"
        [queryParams]="{category: 'service'}">
        <li>Service</li>
      </a>
      <a class="items__navbar-container-category-link link-last" [routerLink]="['home/category']"
        [queryParams]="{category: 'clothes'}">
        <li>Clothes</li>
      </a>
    </ul>
  </div>
</div>