.navbar {
  display: flex;
  flex-shrink: 0;
  max-width: 1440px;
  height: 40px;
  margin: auto;
  padding: 0px 94px;
  background-color: #00478f;

  &__items {
    display: flex;
    align-items: center;
  }
}

.items {
  &__category {
    display: flex;
  }
}

.link {
  font-family: Lato, sans-serif;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  padding: 10px 40px;
  list-style-type: none;
  text-decoration: none;
  color: #fff;
  border-left: 1px solid #fff;
  gap: 4px;
}

.link-last {
  border-right: 1px solid #fff;
}

.category_last {
  border-right: 1px solid #fff;
}
