@font-face {
  font-family: 'Lato';
  src: url("./Lato/Lato-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: 'Lato';
  src: url("./Lato/Lato-Thin.ttf");
  font-weight: 100;
}

@font-face {
  font-family: 'Lato';
  src: url("./Lato/Lato-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: 'Lato';
  src: url("./Lato/Lato-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: 'Lato';
  src: url("./Lato/Lato-Black.ttf");
  font-weight: 900;
}
