.filter {
  // &__controls {
  //   width: 680px;
  //   margin: 24px auto 0 auto;
  // }
  height: auto;

  &__control {
    margin: 16px 0;

    &__title {
      font-size: 24px;
      font-weight: 700;
      color: #070A0F;

      &__custom {
        margin-bottom: 8px;
        font-size: 24px;
        font-weight: 700;
        color: #070A0F;
      }
    }

    .price {
      display: flex;
      margin-top: 8px;
      margin-bottom: -22px;
      gap: 20px;

      .control {
        .subtitle {
          margin-bottom: 4px;
          font-size: 20px;
          color: #070A0F;
        }

        .price-input {
          ::ng-deep {
            .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
              padding-right: 7px;
            }
          }
        }

        .mat-mdc-form-field {
          display: block;
          width: 192px;
          font-family: Lato, sans-serif;
        }

        input[type=number] {
          border-right: 1px solid #00478F !important;
          padding-right: 7px;
          text-align: right;
          box-sizing: border-box;

          &::-webkit-outer-spin-button,
          &::-webkit-inner-spin-button {
            display: none;
          }
        }
      }
    }


  }

  &__btn__container {
    display: flex;
    justify-content: center;
    align-items: 0;
    gap: 20px;

    .btn {
      padding: 15px 20px;
      border-radius: 16px;
      box-sizing: border-box;
      font-size: 24px;
      cursor: pointer;

      &.cancel {
        border: 1px solid #00478F;
        color: #00478F;


        &:hover,
        &:active {
          border: 2px solid #00478F;
          -webkit-text-stroke: 0.65px #00478F;
        }
      }

      &.save {
        background-color: #00478F;
        color: #fff;

        &:hover,
        &:active {
          -webkit-text-stroke: 0.65px #fff;
        }
      }
    }
  }

  app-dropdown {
    width: 340px;
    height: 40px;
  }

  &.left-panel {
    .mat-mdc-form-field {
      width: 128px!important;
    }

    app-dropdown {
      width: 100%;
      height: 40px;
    }

    ::ng-deep {
      app-radiobuttons-input-group {
        .container {
          .buttons {
            display: flex;
            gap: 6.5px;

            .option {
              font-size: 15px;
            }
          }
        }
      }
    }
  }
}

.mdc-checkbox .mdc-checkbox__native-control:enabled:not(:checked):not(:indeterminate):not([data-indeterminate=true])~.mdc-checkbox__background {
  border-color: #00478F;
}

::ng-deep {
  .mat-mdc-text-field-wrapper {
    padding: 0px 11px !important;
  }

  .mat-mdc-form-field-infix {
    padding-right: 7px;
    min-height: auto !important;
    padding-top: 10.5px !important;
    padding-bottom: 10.5px !important;
  }
}
