<div class="header">
  <div class="header-content">
    <div class="header-content__container">
      <div class="header-content__container-contents">
        <svg class="header-content__container-logo sprite__logo">
          <use xlink:href="../../../assets/sprite.svg#logo"></use>
        </svg>
        <div class="header-content__container-contents-title">
          <a
            class="header-content__container-contents-title-text__first"
            routerLink="home"
            >Bicycles Gear Marketplace</a
          >
          <a
            class="header-content__container-contents-title-text__second"
            routerLink="home"
            >ROVER</a
          >
        </div>
      </div>

      <app-search-field class="search"></app-search-field>

      <div class="header-content__container-place-ads">
        <svg class="sprite__place-ads">
          <use xlink:href="../../../assets/sprite.svg#place-ads"></use>
        </svg>
        <a
          class="header-content__container-place-ads__link"
          routerLink="create-an-item"
          >Place Ads</a
        >
      </div>

      <div class="header-content__container-btns">
        <div class="user-icon">
          <div class="no-user" *ngIf="!currentUser" (click)="openAuthDialog()">
            <svg class="header-content__container-btns-user sprite__btns-user">
              <use xlink:href="../../../assets/sprite.svg#btns-user"></use>
            </svg>
          </div>

          <div class="isuser" *ngIf="currentUser" routerLink="profile">
            <app-user-icon [user]="currentUser"></app-user-icon>
          </div>
        </div>

        <svg
          class="header-content__container-btns-favorite sprite__btns-favorite"
          routerLink="favorite"
        >
          <use xlink:href="../../../assets/sprite.svg#btns-favorite"></use>
        </svg>
        <select class="header-content__container-btn-lng-select">
          <option
            class="header-content__container-btn-lng-select-en"
            value="en"
          >
            EN
          </option>
          <option
            class="header-content__container-btn-lng-select-ua"
            value="ua"
          >
            UA
          </option>
        </select>

        <svg
          class="header-content__container-btns-shopping-cart sprite__btns-shopping-cart"
          routerLink="shopping-cart"
        >
          <use xlink:href="../../../assets/sprite.svg#btns-shopping-cart"></use>
        </svg>
      </div>
    </div>
  </div>
</div>

<!-- <app-filter *ngIf="isFilterVisible"></app-filter> -->
<app-create-an-item *ngIf="isCreateItemVisible"></app-create-an-item>
<!-- <app-shopping-cart></app-shopping-cart> -->
<!-- тимчалово деактивував, через те що немає верстки і на сторінці все "з'їзджає" -->
<!--<app-shopping-cart></app-shopping-cart>-->
