* {
  margin: 0;
  padding: 0;
}
.header {
  .header-content {
    align-items: flex-start;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: flex-start;
    margin: auto;
    gap: 33px;

    &__container {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      justify-content: space-between;
      width: 1440px;
      height: 160px;
      margin: auto;
      padding: 0 94px;

      &-contents {
        display: flex;
        align-items: center;
        max-height: 54px;
        cursor: pointer;
        gap: 4px;

        &-title {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          justify-content: center;
          width: 88px;
          height: 22px;

          &-text {
            &__first {
              font-family: Lato, sans-serif;
              font-size: 14px;
              font-weight: 500;
              font-style: normal;
              color: #00478f;
              text-decoration: none;
            }

            &__second {
              font-family: Poppins, sans-serif;
              font-size: 22px;
              font-weight: 700;
              font-style: normal;
              line-height: normal;
              color: #00478f;
              text-decoration: none;
            }
          }
        }
      }

      &-search {
        display: flex;
        max-width: 480px;
        max-height: 54px;
        &__img {
          padding: 12px 15px;
          position: absolute;
        }
      }
      &-input {
        &__filter {
          display: flex;
          &-search {
            display: flex;
            width: 432px;
            padding: 15px 45px;
            border-top: 1px solid #00478f;
            border-right: none;
            border-bottom: 1px solid #00478f;
            border-left: 1px solid #00478f;
            border-radius: 8px 0px 0px 8px;
            background: #fff;
          }
        }
      }
      &-btn {
        &__filter {
          padding: 15px 12px;
          border-top: 1px solid #00478f;
          border-right: 1px solid #00478f;
          border-bottom: 1px solid #00478f;
          border-left: 1px solid #00478f;
          border-radius: 0px 8px 8px 0px;
          cursor: pointer;
        }
      }
      &-place-ads {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px 12px 0px 12px;
        border-radius: 16px;
        background: #00478f;
        &__img {
          align-items: center; // Corection img
        }
        &__link {
          color: #fff;
          text-decoration: none;
          font-size: 24px;
          font-weight: 700;
          line-height: 28px;
        }
      }
      &-btns {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;

        &-user {
          cursor: pointer;
        }

        .isuser{
          height: 24px;
          width: 24px;
        }

        &-favorite {
          cursor: pointer;
        }
        &-shopping-cart {
          cursor: pointer;
        }
      }
      &-btn-lgn-select {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 24px;
        padding: 8px 4px;
        border: 1px solid #ffd640;
        border-radius: 4px;
        gap: 8px;
      }
    }
  }
}
