<!-- Block header -->
<div class="header">
  <div class="header-content">
    <div class="header-content--container">
      <div class="container-title">
        <div class="container-title--logo">
          <div class="title__logo">
            <svg class="logo" fill="none" height="50" viewBox="0 0 46 50" width="46" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_1570_7565)">
                <path
                  d="M0 9.35068C0.468029 5.18847 2.78534 0 7.64067 0H33.8084C50.1285 0 49.9992 25.7172 33.8084 25.7172H28.4813L39.2573 34.5491C45.2238 39.0127 46.8181 44.121 43.1424 50.0038L11.2784 24.2866C8.61477 21.7229 10.5972 16.2368 13.8696 16.2368L32.781 16.3665C35.9925 16.3894 36.1486 9.33542 32.781 9.35068H0Z"
                  fill="#FFD640"/>
              </g>
              <defs>
                <clipPath id="clip0_1570_7565">
                  <rect fill="white" height="50" width="46"/>
                </clipPath>
              </defs>
            </svg>
          </div>
        </div>
        <div class="title-items">
          <div class="items--text">
            <span class="items__text">Bicycles Gear Marketplace</span>
            <span class="items__text">ROVER</span>
          </div>
        </div>

        <!-- block search -->
        <div class="container-title--search">
          <label class="label__search">
            <input class="input__search" placeholder="Search" type="text">
          </label>
        </div>

        <!-- Block create an item -->
        <div class="container-content--create-link">
          <div class="link">
            <img alt="img" class="img__link" src="assets/img/add_item.png">
            <span class="text__link">Сreate an item</span>
          </div>
        </div>

        <!-- Block buttons -->
        <div class="container-content--buttons">
          <div class="buttons">
            <img alt="img" class="btn__user" src="assets/img/user.png">
            <img alt="img" class="btn__favorite" src="assets/img/favorite.png">
            <button class="btn--checkbox" type="button">UA</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
