<div class="wrapper">
    <div class="container">
        <div class="container_header">
            404
        </div>
        <div class="container_content">
            <div class="container_content_text first-line">
                Sorry!
            </div>
            <div class="container_content_text second-line">
                The Page You`re Looking For Was Not Found
            </div>
            <div class="container_content_button" title="Go to mainpage" routerLink="/">
                Go Back Home
            </div>
        </div>
    </div>
</div>