<div class="container">
  <div class="categories__container">
    <h4 class="categories__title">Categories of products</h4>

    <ul class="categories__item-container">
      <li class="categories__item">
        <div class="categories__item-img-container">
          <img alt="img" class="categories__item-img" src="assets/img/categories_of_products/childrens.png">
        </div>
        <h5 class="categories__item-title">Children's products</h5>
      </li>

      <li class="categories__item">
        <div class="categories__item-img-container">
          <img alt="img" class="categories__item-img" src="assets/img/categories_of_products/auto.png">
        </div>
        <h5 class="categories__item-title">Auto</h5>
      </li>

      <li class="categories__item">
        <div class="categories__item-img-container">
          <img alt="img" class="categories__item-img" src="assets/img/categories_of_products/bicycles.png">
        </div>
        <h5 class="categories__item-title">Bicycles</h5>
      </li>

      <li class="categories__item">
        <div class="categories__item-img-container">
          <img alt="img" class="categories__item-img" src="assets/img/categories_of_products/sport.png">
        </div>
        <h5 class="categories__item-title">Sport</h5>
      </li>

      <li class="categories__item">
        <div class="categories__item-img-container">
          <img alt="img" class="categories__item-img" src="assets/img/categories_of_products/hobbies.png">
        </div>
        <h5 class="categories__item-title">Hobbies, recreation</h5>
      </li>

      <li class="categories__item">
        <div class="categories__item-img-container">
          <img alt="img" class="categories__item-img" src="assets/img/categories_of_products/free_of_charge.png">
        </div>
        <h5 class="categories__item-title">Free of charge</h5>
      </li>

      <li class="categories__item">
        <div class="categories__item-img-container">
          <img alt="img" class="categories__item-img" src="assets/img/categories_of_products/electronics.png">
        </div>
        <h5 class="categories__item-title">Electronics</h5>
      </li>

      <li class="categories__item">
        <div class="categories__item-img-container">
          <img alt="img" class="categories__item-img" src="assets/img/categories_of_products/home_and_garden.png">
        </div>
        <h5 class="categories__item-title">Home and garden</h5>
      </li>
    </ul>
  </div>
</div>
