.container {
  background-color: #F9F9F9;
}

.categories {
  &__container {
    display: flex;
    width: 1252px;
    margin-inline: auto;
    padding-bottom: 121px;
    flex-direction: column;
    gap: 64px;
  }

  &__title {
    margin: 0;
    font-size: 36px;
    font-weight: 700;
  }

  &__item {
    display: flex;
    width: 112px;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    &-container {
      display: flex;
      justify-content: space-between;
    }

    &-img {
      width: 88px;
      height: 88px;
      box-shadow: 0 4px 4px 0 rgba(255, 255, 255, 0.25);

      &-container {
        width: 88px;
        height: 88px;
        border-radius: 44px;
        background: #A5CDEB;
        border: 2px solid #00478F;
      }
    }

    &-title {
      margin: 0;
      text-align: center;
      font-size: 20px;
      font-weight: 500;
      line-height: 21px;
    }
  }
}
