<div class="product__navigate-container">
  <div class="product__navigate">
    <p class="product__navigate-item">Home</p>
    <img alt="" class="product__navigate-img" src="assets/img/arrow-right.svg">
    <p class="product__navigate-item">Catalog</p>
    <img alt="" class="product__navigate-img" src="assets/img/arrow-right.svg">
    <p class="product__navigate-item">Bicycles</p>
  </div>
</div>

<div class="product__container">
  <div class="product">
    <div class="product__title-container">
      <h3 class="product__title">Universal bike Discovery 24d-inch</h3>
    </div>

    <div class="product__photo">
      <div class="product__photo-more">
        <!--        <img alt="" class="product__photo-more-img" src="assets/img/product-card/img-2.png">-->
        <!--        <img alt="" class="product__photo-more-img" src="assets/img/product-card/img-3.png">-->
        <!--        <img alt="" class="product__photo-more-img" src="assets/img/product-card/img-4.png">-->

        <div class="product__photo-more-img"></div>
        <div class="product__photo-more-img"></div>
        <div class="product__photo-more-img"></div>
      </div>

      <!--      <img alt="" class="product__photo-img" src="assets/img/product-card/img-1.jpg">-->

      <div class="product__photo-img">
        <img alt="without-favorite" class="product__photo-nofavorite" src="/assets/img/without-favorite.svg">
      </div>

      <div class="product__about-container">
        <div class="product__about">
          <p>Price</p>
          <p>1 000$</p>
        </div>

        <div class="product__about">
          <p>Special features</p>
          <p>24-inch</p>
        </div>

        <div class="product__about">
          <p>Product state</p>
          <p>New</p>
        </div>

        <div class="product__about">
          <p>Bicycle brand</p>
          <p>Discovery</p>
        </div>

        <div class="product__about">
          <p>Negotiable price</p>
          <p>No</p>
        </div>

        <div class="product__about">
          <p>Exchange available</p>
          <p>No</p>
        </div>

        <div class="product__about-btn">
          <img alt="basket" src="/assets/img/icon-basket.svg">
          <p>Buy</p>
        </div>
      </div>
    </div>

    <div class="product__description-container">
      <div class="product__description-item">
        <h4 class="product__description-item-title">Description</h4>
        <p class="product__description-item-text">Used bike for sale. The condition is normal, without breakdowns.</p>
      </div>

      <div class="product__description-item">
        <h4 class="product__description-item-title">Location</h4>
        <p class="product__description-item-text-location">Ternopil city</p>
      </div>
    </div>
  </div>

  <div class="profile__container">
    <p class="profile__title">If you have any questions, please ask the seller.</p>
    <div class="profile__img-container">
      <img alt="profile-img" class="profile__img" src="assets/img/profile/profile-img.png">
      <p class="profile__img-name">Jessica Hanson</p>
    </div>

    <div class="profile__description">
      <p>You can</p>
      <p>write a message</p>
    </div>

    <div class="profile__description">
      <p>or</p>
      <p>call +380 406 555 120</p>
    </div>
  </div>
</div>
