<div class="navbar">
  <div class="navbar__items">
    <ul class="items__category">
      <a class="link" href="#">
        <li class="category">Bicycle</li>
      </a>
      <a class="link" href="#">
        <li class="category">Parts</li>
      </a>
      <a class="link" href="#">
        <li class="category">Accessories</li>
      </a>
      <a class="link" href="#">
        <li class="category">Service</li>
      </a>
      <a class="link" href="#">
        <li class="category">Clothes</li>
      </a>
    </ul>
  </div>
</div>
