// Colors
$primary: #00478f;
$secondary: #ffd640;
$black: #070a0f;
$white: #fff;
$black_50: #070a0f;

// Background colors:
$background_almost_white: #f9f9f9;
$background_white: #fff;

//
$site-1440-padding: 0 94px;
