// Colors
$primary: #00478f;
$secondary: #FFD640;
$black: #070A0F;
$white: #FFF;
$black_50: #070A0F;

// Background colors:
$background_almost_white: #F9F9F9;
$background_white: #FFF;

//
$site-1440-padding: 0 94px;
