<script src="favorite.component.ts"></script>
<div class="favorite__navigate-container">
  <div class="favorite__navigate">
    <p class="favorite__navigate-item">Home</p>
    <img alt="" class="favorite__navigate-img" src="assets/img/arrow-right.svg">
    <p class="favorite__navigate-item">Profile</p>
    <img alt="" class="favorite__navigate-img" src="assets/img/arrow-right.svg">
    <p class="favorite__navigate-item">Favorite</p>
  </div>
</div>

<div class="favorite__container">
  <div class="favorite">
    <div class="favorite__item">
      <img alt="" class="favorite__item-favorite" src="assets/img/favorite/Favorite.svg">

      <div class="favorite__item-condition">
        <p class="favorite__item-condition-text">New</p>
      </div>

      <div class="favorite__item-img"></div>

      <div class="favorite__item-description">
        <div class="favorite__item-description-title">
          <p class="favorite__item-description-title-text">Universal MTB marvel bicycle Discovery</p>
        </div>

        <div class="favorite__item-description-price">
          <p class="favorite__item-description-price-text">1 000 $</p>
        </div>

        <p class="favorite__item-description-wheels">24-inch</p>

        <div class="favorite__item-description-about">
          <p class="favorite__item-description-about-text">Used bicycle for sale. The condition is normal, without
            breakdowns.</p>
        </div>

        <div class="favorite__item-description-more">
          <div class="favorite__item-description-more-item">
            <p>Bicycle brand</p>
            <p>Discovery</p>
          </div>

          <div class="favorite__item-description-more-item">
            <p>Negotiable price</p>
            <p>No</p>
          </div>

          <div class="favorite__item-description-more-item">
            <p>Exchange available</p>
            <p>No</p>
          </div>

          <div class="favorite__item-description-more-item">
            <p>Location</p>
            <p>Ternopil city</p>
          </div>
        </div>
      </div>
    </div>

    <div class="favorite__item">
      <img alt="" class="favorite__item-favorite" src="assets/img/favorite/Favorite.svg">

      <div class="favorite__item-condition">
        <p class="favorite__item-condition-text">Used</p>
      </div>

      <div class="favorite__item-img"></div>

      <div class="favorite__item-description">
        <div class="favorite__item-description-title">
          <p class="favorite__item-description-title-text">All-terrain adventure bicycle Leon </p>
        </div>

        <div class="favorite__item-description-price">
          <p class="favorite__item-description-price-text">600 $</p>
        </div>

        <p class="favorite__item-description-wheels">26-inch</p>

        <div class="favorite__item-description-about">
          <p class="favorite__item-description-about-text">Speedy road bicycle. Performance road bike for speed
            enthusiasts. Lightweight and aerodynamic design</p>
        </div>

        <div class="favorite__item-description-more">
          <div class="favorite__item-description-more-item">
            <p>Bicycle brand</p>
            <p>Leon</p>
          </div>

          <div class="favorite__item-description-more-item">
            <p>Negotiable price</p>
            <p>No</p>
          </div>

          <div class="favorite__item-description-more-item">
            <p>Exchange available</p>
            <p>Yes</p>
          </div>

          <div class="favorite__item-description-more-item">
            <p>Location</p>
            <p>Lviv city</p>
          </div>
        </div>
      </div>
    </div>

    <div class="favorite__item">
      <img alt="" class="favorite__item-favorite" src="assets/img/favorite/Favorite.svg">

      <div class="favorite__item-condition">
        <p class="favorite__item-condition-text">Used</p>
      </div>

      <div class="favorite__item-img"></div>

      <div class="favorite__item-description">
        <div class="favorite__item-description-title">
          <p class="favorite__item-description-title-text">Terrain adventure bicycle Leon </p>
        </div>

        <div class="favorite__item-description-price">
          <p class="favorite__item-description-price-text">850 $</p>
        </div>

        <p class="favorite__item-description-wheels">26-inch</p>

        <div class="favorite__item-description-about">
          <p class="favorite__item-description-about-text">Selling a cool mountain bicycle. Durable, reliable and ideal
            for any
            terrain.</p>
        </div>

        <div class="favorite__item-description-more">
          <div class="favorite__item-description-more-item">
            <p>Bicycle brand</p>
            <p>Leon</p>
          </div>

          <div class="favorite__item-description-more-item">
            <p>Negotiable price</p>
            <p>Yes</p>
          </div>

          <div class="favorite__item-description-more-item">
            <p>Exchange available</p>
            <p>Yes</p>
          </div>

          <div class="favorite__item-description-more-item">
            <p>Location</p>
            <p>Kyiv city</p>
          </div>
        </div>
      </div>
    </div>

    <div class="favorite__item">
      <img alt="" class="favorite__item-favorite" src="assets/img/favorite/Favorite.svg">

      <div class="favorite__item-condition">
        <p class="favorite__item-condition-text">Used</p>
      </div>

      <div class="favorite__item-img"></div>

      <div class="favorite__item-description">
        <div class="favorite__item-description-title">
          <p class="favorite__item-description-title-text">Wellmaintained bicycle Discovery</p>
        </div>

        <div class="favorite__item-description-price">
          <p class="favorite__item-description-price-text">750 $</p>
        </div>

        <p class="favorite__item-description-wheels">24-inch</p>

        <div class="favorite__item-description-about">
          <p class="favorite__item-description-about-text">Wellmaintained mountain bike,great for off-road
            adventures.Excellent
            condition,ready for a new rider</p>
        </div>

        <div class="favorite__item-description-more">
          <div class="favorite__item-description-more-item">
            <p>Bicycle brand</p>
            <p>Discovery</p>
          </div>

          <div class="favorite__item-description-more-item">
            <p>Negotiable price</p>
            <p>No</p>
          </div>

          <div class="favorite__item-description-more-item">
            <p>Exchange available</p>
            <p>Yes</p>
          </div>

          <div class="favorite__item-description-more-item">
            <p>Location</p>
            <p>Ternopil city</p>
          </div>
        </div>
      </div>
    </div>

    <div class="favorite__item">
      <img alt="" class="favorite__item-favorite" src="assets/img/favorite/Favorite.svg">

      <div class="favorite__item-condition">
        <p class="favorite__item-condition-text">New</p>
      </div>

      <div class="favorite__item-img"></div>

      <div class="favorite__item-description">
        <div class="favorite__item-description-title">
          <p class="favorite__item-description-title-text">Hybrid bicycle Premier</p>
        </div>

        <div class="favorite__item-description-price">
          <p class="favorite__item-description-price-text">1 200 $</p>
        </div>

        <p class="favorite__item-description-wheels">22-inch</p>

        <div class="favorite__item-description-about">
          <p class="favorite__item-description-about-text">Comfortable hybrid bicycle for city and off-road trails.
            Well-cared-for and versatile.</p>
        </div>

        <div class="favorite__item-description-more">
          <div class="favorite__item-description-more-item">
            <p>Bicycle brand</p>
            <p>Premier</p>
          </div>

          <div class="favorite__item-description-more-item">
            <p>Negotiable price</p>
            <p>No</p>
          </div>

          <div class="favorite__item-description-more-item">
            <p>Exchange available</p>
            <p>No</p>
          </div>

          <div class="favorite__item-description-more-item">
            <p>Location</p>
            <p>Lviv city</p>
          </div>
        </div>
      </div>
    </div>

    <div class="favorite__item">
      <img alt="" class="favorite__item-favorite" src="assets/img/favorite/Favorite.svg">

      <div class="favorite__item-condition">
        <p class="favorite__item-condition-text">Used</p>
      </div>

      <div class="favorite__item-img"></div>

      <div class="favorite__item-description">
        <div class="favorite__item-description-title">
          <p class="favorite__item-description-title-text">City commuter bicycle Formula</p>
        </div>

        <div class="favorite__item-description-price">
          <p class="favorite__item-description-price-text">900 $</p>
        </div>

        <p class="favorite__item-description-wheels">28-inch</p>

        <div class="favorite__item-description-about">
          <p class="favorite__item-description-about-text">City commuter bicycle. Stylish city bike for daily commuting.
            Smooth
            ride, in excellent condition.</p>
        </div>

        <div class="favorite__item-description-more">
          <div class="favorite__item-description-more-item">
            <p>Bicycle brand</p>
            <p>Formula</p>
          </div>

          <div class="favorite__item-description-more-item">
            <p>Negotiable price</p>
            <p>Yes</p>
          </div>

          <div class="favorite__item-description-more-item">
            <p>Exchange available</p>
            <p>Yes</p>
          </div>

          <div class="favorite__item-description-more-item">
            <p>Location</p>
            <p>Kyiv city</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
