* {
  font-family: Lato, sans-serif;
}

.favorite {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  column-gap: 26px;
  row-gap: 40px;
  justify-content: center;

  &__navigate {
    width: 1252px;
    margin-inline: auto;
    display: flex;
    gap: 4px;
    font-size: 24px;
    font-weight: 400;

    & p {
      margin: 0;
    }

    &-container {
      padding-top: 40px;
      padding-bottom: 40px;
      background-color: #F9F9F9;
    }

    &-item {
      color: #042C54;

      &:last-of-type {
        color: rgba(7, 10, 15, 0.50);
      }
    }

    &-img {
      width: 20px;
    }
  }

  &__container {
    padding-bottom: 160px;
    background-color: #F9F9F9;

    & p {
      margin: 0;
    }
  }

  &__item {
    position: relative;
    background-color: #FFFFFF; //for fixed style

    &:first-of-type {
      & .favorite__item-img {
        background: url("/assets/img/favorite/img-1.jpg") 50% / cover no-repeat, #FFF;
      }
    }

    &:nth-of-type(2) {
      & .favorite__item-img {
        background: url("/assets/img/favorite/img-2.jpg") 50% / cover no-repeat, #FFF;
      }
    }

    &:nth-of-type(3) {
      & .favorite__item-img {
        background: url("/assets/img/favorite/img-3.jpg") 50% / cover no-repeat, #FFF;
      }
    }

    &:nth-of-type(4) {
      & .favorite__item-img {
        background: url("/assets/img/favorite/img-4.jpg") 50% / cover no-repeat, #FFF;
      }
    }

    &:nth-of-type(5) {
      & .favorite__item-img {
        background: url("/assets/img/favorite/img-5.jpg") 50% 100% / cover no-repeat, #FFF;
      }
    }

    &:last-of-type {
      & .favorite__item-img {
        background: url("/assets/img/favorite/img-6.jpg") 50% / cover no-repeat, #FFF;
      }
    }

    &-favorite {
      position: absolute;
      top: 24px;
      right: 24px;
    }

    &-img {
      width: 400px;
      height: 360px;
      border-radius: 4px;
    }

    &-description {
      width: 360px;
      display: flex;
      flex-direction: column;
      margin-inline: auto;

      &-title {
        color: #070A0F;
        font-size: 20px;
        font-weight: 500;
        line-height: 21px;
      }

      &-price {
        color: #070A0F;
        font-size: 20px;
        font-weight: 500;
        line-height: 21px;
      }

      &-wheels {
        color: #070A0F;
        font-size: 20px;
        font-weight: 500;
        line-height: 21px;
      }

      &-about {
        color: #070A0F;
        font-size: 16px;
        font-weight: 300;
        line-height: 110%;
      }

      &-more {
        display: flex;
        flex-direction: column;

        &-item {
          display: flex;
          font-size: 16px;

          & p {
            &:first-of-type {
              width: 160px;
              font-weight: 500;
              line-height: normal;
            }

            &:last-of-type {
              font-weight: 300;
              line-height: 110%;
            }
          }
        }
      }
    }
  }
}
