<div class="favorite__navigate-container">
  <div class="favorite__navigate">
    <p class="favorite__navigate-item">Home</p>
    <img alt="" class="favorite__navigate-img" src="assets/img/arrow-right.svg">
    <p class="favorite__navigate-item">Catalog</p>
    <img alt="" class="favorite__navigate-img" src="assets/img/arrow-right.svg">
    <p class="favorite__navigate-item">Bicycles</p>
  </div>
</div>

<div class="favorite__container">
  <div class="favorite">
    <div class="favorite__item">
      <img alt="" class="favorite__item-favorite" src="assets/img/favorite/Favorite.svg">
      <img alt="" class="favorite__item-img" src="assets/img/favorite/Img-1.png">

      <div class="favorite__item-description-container">
        <p class="favorite__item-description-price">1 000 $</p>

        <div class="favorite__item-description">
          <p>A popular model of a modern bicycle</p>
          <p>24d</p>
        </div>

        <p class="favorite__item-description-about">Breeds a bicycle. Brought from Europe. Everything is in good
          condition.Breeds a bicycle. Brought from Europe.
          Everything is in good condition.Breeds a bicycle. Brought from Europe. Everything is in good condition.</p>

        <div class="favorite__item-description-location">
          <p>Location</p>
          <p>Ternopil city</p>
        </div>
      </div>
    </div>

    <div class="favorite__item">
      <img alt="" class="favorite__item-favorite" src="assets/img/favorite/Favorite.svg">

      <img alt="" class="favorite__item-img" src="assets/img/favorite/Img-2.png">

      <div class="favorite__item-description-container">
        <p class="favorite__item-description-price">1 000 $</p>

        <div class="favorite__item-description">
          <p>A popular model of a modern bicycle</p>
          <p>24d</p>
        </div>

        <p class="favorite__item-description-about">Breeds a bicycle. Brought from Europe. Everything is in good
          condition.Breeds a bicycle. Brought from Europe.
          Everything is in good condition.Breeds a bicycle. Brought from Europe. Everything is in good condition.</p>

        <div class="favorite__item-description-location">
          <p>Location</p>
          <p>Ternopil city</p>
        </div>
      </div>
    </div>

    <div class="favorite__item">
      <img alt="" class="favorite__item-favorite" src="assets/img/favorite/Favorite.svg">

      <img alt="" class="favorite__item-img" src="assets/img/favorite/Img-3.png">

      <div class="favorite__item-description-container">
        <p class="favorite__item-description-price">1 000 $</p>

        <div class="favorite__item-description">
          <p>A popular model of a modern bicycle</p>
          <p>24d</p>
        </div>

        <p class="favorite__item-description-about">Breeds a bicycle. Brought from Europe. Everything is in good
          condition.Breeds a bicycle. Brought from Europe.
          Everything is in good condition.Breeds a bicycle. Brought from Europe. Everything is in good condition.</p>

        <div class="favorite__item-description-location">
          <p>Location</p>
          <p>Ternopil city</p>
        </div>
      </div>
    </div>

    <div class="favorite__item">
      <img alt="" class="favorite__item-favorite" src="assets/img/favorite/Favorite.svg">

      <img alt="" class="favorite__item-img" src="assets/img/favorite/Img-4.png">

      <div class="favorite__item-description-container">
        <p class="favorite__item-description-price">1 000 $</p>

        <div class="favorite__item-description">
          <p>A popular model of a modern bicycle</p>
          <p>24d</p>
        </div>

        <p class="favorite__item-description-about">Breeds a bicycle. Brought from Europe. Everything is in good
          condition.Breeds a bicycle. Brought from Europe.
          Everything is in good condition.Breeds a bicycle. Brought from Europe. Everything is in good condition.</p>

        <div class="favorite__item-description-location">
          <p>Location</p>
          <p>Ternopil city</p>
        </div>
      </div>
    </div>

    <div class="favorite__item">
      <img alt="" class="favorite__item-favorite" src="assets/img/favorite/Favorite.svg">

      <img alt="" class="favorite__item-img" src="assets/img/favorite/Img-5.png">

      <div class="favorite__item-description-container">
        <p class="favorite__item-description-price">1 000 $</p>

        <div class="favorite__item-description">
          <p>A popular model of a modern bicycle</p>
          <p>24d</p>
        </div>

        <p class="favorite__item-description-about">Breeds a bicycle. Brought from Europe. Everything is in good
          condition.Breeds a bicycle. Brought from Europe.
          Everything is in good condition.Breeds a bicycle. Brought from Europe. Everything is in good condition.</p>

        <div class="favorite__item-description-location">
          <p>Location</p>
          <p>Ternopil city</p>
        </div>
      </div>
    </div>
  </div>
</div>
