<script src="favorite.component.ts"></script>
<div class="favorite__navigate-container">
  <div class="favorite__navigate">
    <p class="favorite__navigate-item">Home</p>
    <img alt="" class="favorite__navigate-img" src="assets/img/arrow-right.svg">
    <p class="favorite__navigate-item">Profile</p>
    <img alt="" class="favorite__navigate-img" src="assets/img/arrow-right.svg">
    <p class="favorite__navigate-item">Favorite</p>
  </div>
</div>

<div class="favorite__container">
  <div class="favorite">

    <div class="favorite__item" *ngFor="let rover of roverInfo">
      <img (click)="removeFavorite(rover?._id)" class="favorite__item-favorite" src="assets/img/favorite/Favorite.svg">

      <div class="favorite__item-condition">
        <p class="favorite__item-condition-text">{{rover?.state}}</p>
      </div>

      <div class="favorite__item-img" *ngIf="roverPhotos && roverPhotos.length > 0">
        <img [src]="roverPhotos[0].secure_url" alt="Rover Photo">
      </div>

      <div class="favorite__item-description">
        <div class="favorite__item-description-title">
          <p class="favorite__item-description-title-text">{{rover?.title}}</p>
        </div>

        <div class="favorite__item-description-price">
          <p class="favorite__item-description-price-text">{{rover?.price}} $ </p>
        </div>

        <p class="favorite__item-description-wheels">24-inch</p>

        <div class="favorite__item-description-about">
          <p class="favorite__item-description-about-text">{{rover?.description}}</p>
        </div>

        <div class="favorite__item-description-more">
          <div class="favorite__item-description-more-item">
            <p>Bicycle brand</p>
            <p>{{rover?.brand}}</p>
          </div>

          <div class="favorite__item-description-more-item">
            <p>Negotiable price</p>
            <p>{{rover?.negotiable}}</p>
          </div>

          <div class="favorite__item-description-more-item">
            <p>Exchange available</p>
            <p>No</p>
          </div>

          <div class="favorite__item-description-more-item">
            <p>Location</p>
            <p>{{rover?.locationProduct}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>