:host {
  display: block;

  form {
    margin-bottom: 44px;
    display: flex;
    flex-direction: column;
    align-items: center;

    app-error-messages {
      margin-top: -8px;
    }

    .forgot {
      color: #00478f;
      cursor: pointer;
      z-index: 2;
      margin-top: 20px;

      &:hover {
        text-decoration: underline;
      }
    }

    .submit {
      display: block;
      width: 450px;
      height: 56px;
      border-radius: 16px;
      border: none;
      background-color: #00478f;
      font-size: 24px;
      font-weight: 700;
      text-align: center;
      color: #ffffff;
      line-height: 28px;
      margin-top: 16px;

      &:hover {
        -webkit-text-stroke: 0.4px #ffffff;
      }

      &:active {
        background-color: #042c54;
        -webkit-text-stroke: 0.4px #ffffff;
      }
    }

    .mat-mdc-form-field {
      display: block;
      height: 56px;
      margin: 8px 0;
      width: 100%;
    }

    .mat-icon {
      width: 26px;
      height: 26px;
    }

    .mat-mdc-icon-button {
      font-size: 22px;
    }
  }

  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
      color: #070a0f;
      opacity: 50%;
      font-size: 16px;
      line-height: 19.2px;
      font-weight: 500;
      margin-bottom: 15px;
    }
  }
}
