<app-header></app-header>
<app-navbar></app-navbar>

<div class="container">
  <img src="/assets/img/404BG.png" class="product-image" />
  <div class="msg">
    <div class="msg__error">
      <h1 class="msg__error-title">404</h1>
    </div>
    <div class="msg__error-text">
      <h2 class="msg__error-text-title">SORRY!</h2>

      <div class="msg__error-text__container">
        <h3 class="msg__error-text-subtitle">The Page You're Looking For Was Not Found</h3>
      </div>
    </div>

    <div class="button-container">
      <button type="button" class="button-container__button">Go Back Home</button>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
<app-footer></app-footer>
