<div class="item__navigate--container">
  <div class="item__container">
    <p class="item__navigate--item">Home</p>
    <img alt="img" class="item__navigate--img" src="assets/img/arrow-right.svg">
    <p class="item__navigate--item">Create an item</p>
  </div>
</div>

<div class="item__container">
  <div class="describe__container">
    <div class="container">
      <div class="describe">
        <h1 class="describe__title">Describe the product</h1>
        <label class="describe__label">Briefly describe your product</label>
        <input class="describe__input" type="text">

        <label class="describe__label">Category</label>
        <input class="describe__input" type="text">
      </div>
    </div>
  </div>
</div>
