.carousel-container {
	position: relative;
	overflow: hidden;
	//margin: auto;
	//text-align: center;
	width: 100%;
}

.container-wrapper {
	position: relative;
	width: 100%;
}

.container-overlay {
	position: absolute;
	top: 47%;
	left: 28%;
	max-width: 635px;
	padding: 20px;
	transform: translate(-50%, -50%);
	//text-align: center;
	color: white;
	border-radius: 10px;
}

.container-overlay.show {
	display: block;
}

.container-title {
	font-size: 88px;
	line-height: 110%;
	margin: 0 0 10px;
	color: #00478F;
}

.container-text {
	font-size: 32px;
	font-weight: 700;
	line-height: 110%;
	max-width: 468px;
	margin: 0 0 32px;
	color: #00478F;
}

.container-btns {
	font-size: 1.5em;
	width: 300px;
	height: 60px;
	padding: 15px 20px;
	cursor: pointer;


	transition: background 0.3s, color 0.3s;
	color: #00478F;
	border: 1px solid #00478F;
	border-radius: 16px;
}

.container-btns:hover {
	color: #FFF;
	background: #00478F;
}

.carousel-container img {
	display: none;

}


.carousel-container img.image-active {
	display: block;
	width: 100%;
	height: 526px;
}

// dots/indicators
.carousel-dot-container {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	justify-content: center;
	margin-bottom: 1rem;
	padding: 0;
}

.dot {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin: 0 15px;
	cursor: pointer;
	transition: opacity 0.6s ease;
	opacity: 0.5;
	border-radius: 50%;
	background-color: #070A0F80;
}

.active,
.dot:hover {
	opacity: 1;
	background-color: #042C54;
}

// image transition fade effect
.fade {
	display: block;
	width: 100%;
	height: auto;
	//animation-name: fade;
	//animation-duration: 1.5s;
}

@keyframes fade {
	from {
		opacity: 0.4;
	}
	to {
		opacity: 1;
	}
}

.btn-carousel {
	position: absolute;
	top: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 8%;
	padding: 0;
	cursor: pointer;
	text-align: center;
	color: #fff;
	border: 0;
	background: 0 0;
}

.btn-prev {
	left: 0;
}

.btn-next {
	right: 0;
}

.icon-carousel {
	transition: all 0.15s ease;
	opacity: 0.5;
	color: #070A0F80;
}

.icon-carousel:hover {
	opacity: 0.9;
}

.icon-carousel:active {
	opacity: 0.5;
}

.icon-next,
.icon-prev {
	font-size: 65px;
}
