.carousel-container {
  position: relative;
  overflow: hidden;
  width: 100%;

  &-wrapper {
    position: relative;
    width: 100%;
  }
}

.container-overlay {
  position: absolute;
  top: 47%;
  left: 28%;
  width: 635px;
  transform: translate(-50%, -50%);

  &-right {
    top: 47%;
    left: 70%;
    width: 742px;
  }

  &-left {
    top: 47%;
    left: 32%;
    width: 853px;
  }
}

.container-title {
  font-size: 88px;
  line-height: 110%;
  margin: 0 0 10px;
  color: #00478f;
}

.container-text {
  font-size: 32px;
  font-weight: 700;
  line-height: 110%;
  width: 468px;
  margin: 0 0 32px;
  color: #00478f;

  &-right {
    width: 640px;
  }

  &-left {
    width: 517px;
  }
}

.container-btn {
  font-size: 1.5em;
  width: 300px;
  height: 60px;
  padding: 15px 20px;
  cursor: pointer;
  transition:
    background 0.3s,
    color 0.3s;
  color: #00478f;
  border: 1px solid #00478f;
  border-radius: 16px;

  &-left {
    background: rgba(255, 255, 255, 0.5);
  }
}

.container-btn:hover {
  color: #fff;
  border: 1px solid #fff;
  background: #00478f;
}

.carousel-container img {
  display: none;
}

.carousel-container img.image-active {
  display: block;
  width: 100%;
  height: 526px;
}

// dots/indicators
.carousel-dot-container {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  padding: 0;
}

.dot {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 15px;
  cursor: pointer;
  transition: opacity 0.6s ease;
  opacity: 0.5;
  border-radius: 50%;
  background-color: #070a0f80;
}

.active,
.dot:hover {
  opacity: 1;
  background-color: #042c54;
}

// image transition fade effect
.fade {
  display: block;
  width: 100%;
  height: auto;
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.btn-carousel {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8%;
  padding: 0;
  cursor: pointer;
  text-align: center;
  color: #fff;
  border: 0;
  background: 0 0;
}

.btn-prev {
  left: 0;
}

.btn-next {
  right: 0;
}

.icon-carousel {
  transition: all 0.15s ease;
  opacity: 0.5;
  color: #070a0f80;
}

.icon-carousel:hover {
  opacity: 0.9;
}

.icon-carousel:active {
  opacity: 0.5;
}

.icon-next,
.icon-prev {
  font-size: 65px;
}
