.carousel-container {
  position: relative;
  width: 1440px;
  margin: auto;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 8px 16px #dce1e1;
}

.carousel-container img {
  display: none;
  border-radius: 8px;
}

.carousel-container img.image-active {
  display: block;
  width: 1440px;
  height: 526px;
}

// dots/indicators
.carousel-dot-container {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  padding: 0;
}

.dot {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 15px;
  cursor: pointer;
  transition: opacity 0.6s ease;
  opacity: 0.5;
  border-radius: 50%;
  background-color: #070A0F80;
}

.active,
.dot:hover {
  opacity: 1;
  background-color: #042C54;
}

// image transition fade effect
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.btn-carousel {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  padding: 0;
  cursor: pointer;
  text-align: center;
  color: #fff;
  border: 0;
  background: 0 0;
}

.btn-prev {
  left: 0;
}

.btn-next {
  right: 0;
}

.icon-carousel {
  transition: all 0.15s ease;
  opacity: 0.5;
  color: #070A0F80;
}

.icon-carousel:hover {
  opacity: 0.9;
}

.icon-carousel:active {
  opacity: 0.5;
}

.icon-next,
.icon-prev {
  font-size: 65px;
}
