.carousel-container {
  position: relative;
  margin: auto;
  text-align: center;
  width: 1440px;
  border-radius: 10px;
  box-shadow: 0 6px 16px #F9F9F9;
}

.carousel-container img {
  display: none;
  border-radius: 5px;
}

.carousel-container img.image-active {
  display: block;
  width: 100%;
  height: 526px;
  text-align: center;
}
