<div *ngIf="slides && slides.length > 0" class="carousel-container">
	<div *ngFor="let slide of slides; let i=index" class="carousel-wrapper">
		  <img
				  [alt]="slide.imageAlt"
				  [ngClass]="{'image-active': selectedIndex === i}"
				  [src]="slide.imageSrc"
				  class="fade"/>
		<div class="container-description">
			<h4 class="container-title">{{slides[i].description1}}</h4>
			<p class="container-text">{{slides[i].description2}}</p>
			<button class="container-btns">{{slides[i].button}}</button>
		</div>
	</div>


	  <div *ngIf="indicators" class="carousel-dot-container">
	    <span (click)="selectImage(i)" *ngFor="let dot of slides; let i=index"
	          [ngClass]="{'active':
	          selectedIndex===i}" class="dot">
	    </span>
	  </div>

	  <button *ngIf="controls" class="btn-carousel btn-prev">
	    <i (click)="onPrevClick()"
	       class="fa-solid fa-angles-left icon-carousel icon-prev">
	    </i>
	  </button>
	  <button *ngIf="controls" class="btn-carousel btn-next">
	    <i (click)="onNextClick()"
	       class="fa-solid fa-angles-right icon-carousel icon-next">
	    </i>
	  </button>
</div>
