.maincontainer {
  background: #F9F9F9;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 128px;

  .top {
    &__navigate {
      &-container {
        width: 1252px;
        height: 80px;
        display: flex;
        align-items: center;
      }

      &-items {
        display: flex;

        & p {
          font-size: 18px;

          &:first-child {
            color: #042C54; //Primary2
          }

          &:last-child {
            color: rgba(7, 10, 15, 0.50); //--black-50

            &::first-letter {
              text-transform: uppercase;
            }
          }
        }

        & div {
          display: flex;
          align-items: center;
          margin: 0 4px;

        }
      }
    }

    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 36px;

      &-container {
        height: 36px;
      }

      &-title h2 {
        font-size: 24px;
      }

      &-dropdowncontainer {
        width: 140px;
        height: 36px;
        padding: 4px 8px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-shrink: 0;
        position: relative;

        & select {
          width: 128px;
          height: 28px;
          color: #00478F; //primary blue
          font-family: Lato;
          font-size: 24px;
          font-weight: 700;
          display: block;
          appearance: none;
          overflow: hidden;
          background-repeat: no-repeat;
          transition: all 0.2s ease-in-out;
          // arrowdown
          background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M17.0177 5C16.6808 5 16.344 5.12807 16.087 5.38509L10.0001 11.4728L3.91327 5.38509C3.39923 4.87193 2.5659 4.87193 2.05186 5.38509C1.5387 5.89912 1.5387 6.73246 2.05186 7.24649L9.06941 14.264C9.58345 14.7772 10.4168 14.7772 10.9308 14.264L17.9484 7.24649C18.4615 6.73246 18.4615 5.89912 17.9484 5.38509C17.6914 5.12807 17.3545 5 17.0177 5Z' fill='%2300478F'/%3e%3c/svg%3e");
          background-position: right 8px center;
          border: none;
          background-color: #F9F9F9;
          outline: none;

          &:focus {
            outline: none;
            transition: all 0.2s ease-in-out;
            // arrowup
            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.98233 15C3.31917 15 3.65601 14.8719 3.91303 14.6149L9.99988 8.52718L16.0867 14.6149C16.6008 15.1281 17.4341 15.1281 17.9481 14.6149C18.4613 14.1009 18.4613 13.2675 17.9481 12.7535L10.9306 5.73595C10.4166 5.22279 9.58322 5.22279 9.06918 5.73595L2.05163 12.7535C1.53847 13.2675 1.53847 14.1009 2.05163 14.6149C2.30865 14.8719 2.64549 15 2.98233 15Z' fill='%2300478F'/%3e%3c/svg%3e");
            outline: none;
            box-shadow: none;

          }

          &:not(:hover) {
            // arrowdown
            transition: all 0.2s ease-in-out;
            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M17.0177 5C16.6808 5 16.344 5.12807 16.087 5.38509L10.0001 11.4728L3.91327 5.38509C3.39923 4.87193 2.5659 4.87193 2.05186 5.38509C1.5387 5.89912 1.5387 6.73246 2.05186 7.24649L9.06941 14.264C9.58345 14.7772 10.4168 14.7772 10.9308 14.264L17.9484 7.24649C18.4615 6.73246 18.4615 5.89912 17.9484 5.38509C17.6914 5.12807 17.3545 5 17.0177 5Z' fill='%2300478F'/%3e%3c/svg%3e");
            background-position: right 8px center;
            border: none;
          }

          & option {
            color: #070A0F; //Black
          }

          & option:checked {
            color: #00478F;
            font-size: 24px;
            font-weight: 700;
          }
        }
      }
    }
  }

  .main {
    margin-top: 40px;

    &__container {
      width: 1252px;

      &__products {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 32px;

      }

      &__footer {
        margin-top: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: calc(50% - 202px);

        &__more {
          & button {
            width: 404px;
            height: 54px;
            padding: 15px 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 16px;
            border: 1px solid #00478F; //--Primary-Blue
            color: #00478F; //--Primary-Blue
            font-family: Lato;
            font-size: 24px;
            font-weight: 700;
          }

          &:hover {
            border: 2px solid #00478F; //--Primary-Blue
            font-size: 24px;
            font-style: normal;
            cursor: pointer;
          }
        }

        &__pagination {
          width: 142px;
          height: 32px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          font-size: 14px;

          & input {
            font-size: 14px;
            appearance: auto;
            opacity: 1;
            width: 62px;
            height: 32px;
            text-align: center;
            border-radius: 8px;
            border: 1px solid rgba(7, 10, 15, 0.5); //--black-50
          }
        }
      }
    }
  }
}
@import '../../../styles/variables';


.container {
  margin-top: 40px;
  padding: $site-1440-padding;

  .content {
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 45px;

      .title {
        color: #000;
        font-size: 24px;
        font-weight: 700;
      }
    }

    .items {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 32px 20px;
      flex-wrap: wrap;
    }

    .category-footer {
      display: flex;
      justify-content: center;
      padding: 15px 20px;

      .btn {
        display: flex;
        padding: 15px 20px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-bottom: 40px;
      
        &.load-more {
          text-align: center;
          width: 404px;
          height: 54px;
          border-radius: 4px;
          border: 1px solid #00478f;
          font-family: Lato, sans-serif;
          font-size: 24px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          color: #00478f;
        }
      
        &.load-more:hover {
          border: 3px solid #00478f;
          font-size: 26px;
          font-weight: 750;
          transform: scale(1);
          transition: 0.12s;
        }
      
        &--second {
          margin-bottom: 40px;
        }
      }
    }
  }
}