<div class="main">
  <div class="main-content__container">
    <div class="contents">
      <div class="title">
        <h2 class="title__text">{{category| uppercase}}</h2>
      </div>
      <div class="category__products">
        <app-product class="category__products"
                     *ngFor="let product of products | slice:0:productsToDisplay" [product]="product">
        </app-product>
      </div>
    </div>
    <div class="btn">
      <button class="btn-more" (click)="onMoreClick()">More</button>
    </div>
  </div>
</div>
