@import '../styles/variables';

:host {
  display: flex;
  flex-direction: column;

  & > * {
    padding: $site-1440-padding;
  }
}

.arrow-up {
  display: flex;
  justify-content: end;
  padding: 0 94px 20px 0;

  &__btn {
    cursor: pointer;
  }
}
