.modal {
  padding-top: 10px;
  padding-bottom: 100px; // for fixed style
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  display: flex;
  //overflow: scroll;
  z-index: 100;
  background: rgba(7, 10, 15, 0.50);
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.editing {
  &__container {
    margin-inline: auto;
    padding-top: 40px;
    width: 868px;
    height: 858px;
    border-radius: 16px;
    background: #FFF;
    z-index: 2;
  }

  &__title {
    margin: 0;
    font-size: 24px;
    color: #00478F;

    &-container {
      margin: 0 40px 40px;
      display: flex;
      justify-content: space-between;

      & img {
        cursor: pointer;
      }
    }
  }

  &__photo {
    width: 140px;
    height: 140px;
    border-radius: 140px;
    border: 3px solid #00478F;
    background: lightgray 50% / cover no-repeat;

    &-container {
      text-align: center;
    }

    &-change {
      margin-top: 4px;
      margin-bottom: 43px;
      display: flex;
      gap: 4px;
      justify-content: center;

      &-text {
        margin: 0;
        font-size: 20px;
        font-weight: 500;
        line-height: 21px;
      }
    }
  }
}

.form {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  &__item {
    position: relative;
  }

  &__input {
    margin-top: 10px;
    padding-left: 16px;
    width: 448px;
    height: 64px;
    outline: 0;
    border: 1px solid #070A0F;
    border-radius: 4px;
    color: #070A0F;
    font-size: 24px;
    font-weight: 400;
  }

  &__label {
    top: -5px;
    left: 10px;
    font-size: 20px;
    font-weight: 500;
    background-color: #ffffff;
    color: #070A0F;
    padding: 2px;
    pointer-events: none;
    position: absolute;
  }
}

.btn {
  width: 192px;
  height: 54px;
  border-radius: 4px;
  border: 1px solid #00478F;
  background: #FFF;
  font-size: 24px;
  color: #00478F;

  &:hover,
  &:active {
    background: #00478F;
    color: #FFFFFF;
  }

  &__container {
    margin-top: 40px;
    display: flex;
    gap: 20px;
    justify-content: center;
  }
}
