.footer {
  display: flex;
  width: 1440px;
  padding: 60px 94px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  background-color: #00478f;
  color: #fff;
  //margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

.footer {
  &__container {
    display: flex;
    width: 1252px;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.content {
  display: flex;
  width: 404px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  flex-shrink: 0;

  &__text {
    display: flex;
    width: 76px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
  }

  &__text-first {
    font-family: Lato, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
  }

  &__text-second {
    font-family: Poppins, sans-serif;
    font-size: 20px;
    height: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}

.logo-typography {
  gap: 4px;
  display: flex;
  align-items: center;
}

.socials {
  &__networks {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }

  &__btn {
    display: flex;
    width: 136px;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.text {
  &__networks {
    font-family: Lato, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
  }
}

.information {
  display: flex;
  width: 404px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  flex-shrink: 0;
}

.info {
  &__link {
    text-decoration: none;
    color: #fff;
    font-family: Lato, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
  }
}

.contacts {
  display: flex;
  width: 404px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  flex-shrink: 0;
}

.phone {
  display: flex;
  gap: 8px;

  &__link {
    text-decoration: none;
    color: #fff;
    font-family: Lato, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
  }
}

.img {
  display: flex;
  align-items: center;
}

.email {
  display: flex;
  gap: 8px;

  &__link {
    text-decoration: none;
    color: #fff;
    font-family: Lato, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
  }
}

.adres {
  display: flex;
  gap: 8px;

  &__link {
    text-decoration: none;
    color: #fff;
    font-family: Lato, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
  }
}

.footer-about {
  &__team {
    font-family: Lato, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
  }
}
