.footer {
  display: flex;
  width: 100%;
  height: 303px;
  align-items: center;
  background-color: #00478F;
  flex-shrink: 0;

  &-content__container {
    display: flex;
    width: 1252px;
    padding: 60px 94px;
    justify-content: space-between;
    align-items: flex-start;

    .content__logo-socials {
      display: flex;
      width: 404px;
      gap: 4px;
      flex-shrink: 0;
    }

    .title {
      display: flex;
      flex-direction: column;
      width: 76px;
      height: 46px;
    }

    .text__first {
      color: #FFF;
      font-family: Lato, sans-serif;
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: 100%;
    }

    .text__second {
      width: 88px;
      height: 22px;
      flex-shrink: 0;
      color: #FFF;
      font-family: Poppins, sans-serif;
      font-size: 22px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  }
}
