.footer {
  display: flex;
  width: 1440px;
  padding: 60px 94px;
  background-color: #00478f;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;

  &-content__container {
    display: flex;
    width: 1252px;
    justify-content: space-between;
    align-items: flex-start;
    background-color: red;

    .footer-content__logo {
      display: flex;
      width: 404px;
      align-items: center;
      flex-shrink: 0;
      gap: 4px;

      .logo {
        &__text {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          width: 76px;
          color: #FFF;

          .text__first {
            font-family: Lato, sans-serif;
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: 100%;
          }

          .text__second {
            font-family: Poppins, sans-serif;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
          }
        }
      }
    }
  }
}
