<div>
  <div class="progress-bar-scale">
    <div class="progress-bar-scale-names">0</div>
    <div class="progress-bar-scale-names">100</div>
    <div class="progress-bar-scale-names">300</div>
  </div>
  <div class="progress-bar">
    <div class="progress-bar-block"></div>
    <div class="progress-bar-block"></div>
    <div class="progress-bar-block"></div>
    <div class="progress-bar-block"></div>
    <div class="progress-bar-block"></div>
    <div class="progress-bar-block"></div>
    <div class="progress-bar-block"></div>
    <div class="progress-bar-block"></div>
    <div class="progress-bar-block"></div>
    <div class="progress-bar-block"></div>
    <div class="progress-bar-block"></div>
    <div class="progress-bar-block"></div>
    <div class="progress-bar-block"></div>
    <div class="progress-bar-block"></div>
    <div class="progress-bar-block"></div>
  </div>
</div>
