$secondary-light-blue-50:rgba(165, 205, 235, 0.50);//#A5CDEB80
$main-primary-blue:#00478F;

// перевірити чи потрібна бо батьківський блок вже має таку висоту
// div{
//     height: 38px;
// }
.progress-bar-scale{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.progress-bar-scale-names{
    width: 33%;
    color: $main-primary-blue;
    font-family: Lato;
    font-weight: 500;
    font-size: 16px;
    padding-top: 7px;
    padding-bottom: 2px;
}
.progress-bar-scale-names:nth-child(2){
    text-align: left;
}
.progress-bar-scale-names:last-child{
    text-align: right;
}
.progress-bar{
    height: 10px;
    display: flex;
    justify-content: space-between;
}
.progress-bar-block{
    width: 76px;
    height: 10px;
    background: $secondary-light-blue-50;
}
// .progress-bar-block:not(:first-child){
//     margin-left: 8px;
// }
.progress-bar-block:first-child{
	border-radius: calc(10px/2) 0 0 calc(10px/2);
}
.progress-bar-block:last-child{
	border-radius: 0 calc(10px/2) calc(10px/2) 0;
}

@function fill-gradient($color, $width) {
    @return linear-gradient(to right, $color, $color $width,
            rgba(165, 205, 235, 0.50) calc(100% - $width));
  }

.progress-bar-block:first-child{
    background: fill-gradient(#00478F,67%);
}
// .progress-bar-scale-names{
//     width: 33%;
// }
// .progress-bar-scale-names:first-child, .progress-bar-scale-names:last-child{
//     flex: 1 0 auto;
//     // width: 33%;
// }
// .progress-bar-scale-names:last-child{
//     text-align: right;
// }
// .progress-bar-scale-names:nth-child(2){
//     flex: 1 0 30%;
//     // margin: 0 10px;
// }









// // body {
// // 	background-color: #0b0e0d;
// // }

// // .bars-container {
// // 	display: flex;
// // 	gap: var(--barsGap);
// // 	width: 100%;
// // 	max-width: 1200px;
// // }

// // .loading-bar {
// // 	--bar-height: 10px;
// // 	position: relative;
// // 	width: calc(100% / var(--barsCount));
// // 	height: var(--bar-height);
// // 	overflow: hidden;
// //     transition: width 1s linear;
// // }
// // .loading-bar:first-child{
// // 	border-radius: calc(var(--bar-height) / 2) 0 0 calc(var(--bar-height) / 2);
// // }
// // .loading-bar:last-child{
// // 	border-radius: 0 calc(var(--bar-height) / 2) calc(var(--bar-height) / 2) 0;
// // }

// // .loading-bar::before {
// // 	content: "";
// // 	position: absolute;
// // 	width: 100%;
// // 	height: 100%;
// // 	background: var(--background);
// // }

// // :root {
// //     --progressBarBlockWidth: 1200px;
// //   }

// .progress-bar{
//     display: flex;
//     width: 100%;
// }
// .progress-bar-block {
//     // width: 76px;
//     width: calc(100% - 20px);
//     height: 10px;
//     border: 1px solid black;
// }
// .progress-bar-block:nth-child(n+1){
//     margin-left: 8px;
// }
// .progress-bar-block:first-child{
// 	border-radius: calc(var(--bar-height) / 2) 0 0 calc(var(--bar-height) / 2);
// }
// .progress-bar-block:last-child{
// 	border-radius: 0 calc(var(--bar-height) / 2) calc(var(--bar-height) / 2) 0;
// }
@media (max-width: 768px){
    .progress-bar-scale-names{
        font-weight: 600;
        font-size: 14px;
        padding-top: 8px;
        padding-bottom: 3px;
    }
    .progress-bar-block{
        width: 40px;
    }
}
@media (max-width: 375px){
    .progress-bar-scale-names{
        font-weight: 600;
        font-size: 10px;
        padding-top: 16px;
        padding-bottom: 0px;
    }
    .progress-bar-block{
        width: 20px;
        height: 4px;
    }
    .progress-bar-block:first-child{
        border-radius: calc(4px/2) 0 0 calc(4px/2);
    }
    .progress-bar-block:last-child{
        border-radius: 0 calc(4px/2) calc(4px/2) 0;
    }
}