<!-- <p>splited-progresbar works!</p>
<div class="progressbar-container">
    <div class="progressbar-container-levels">
        <div class="progressbar-container-levels-names">0</div>
        <div class="progressbar-container-levels-names">100</div>
        <div class="progressbar-container-levels-names">300</div>
    </div>
    <div class="progressbar-container-line">
        <section class="bars-container">

        </section>
    </div>
</div> -->

<!-- <div class="progress-bar-container">
    <div class="progress-bar-wrapper">
      <div *ngFor="let i of blocks"
        class="progress-bar-block"
        [style.width]="blockWidth"
        [style.flex-grow]="calculateFlexGrow(i)"
        [style.background-color]="getBackgroundColor(i)">
      </div>
    </div>
  </div> -->
